<div class="content">
    <h2>
        Đường song hành cao tốc TP HCM - Long Thành sau 5 năm thi công
    </h2>
    <p>
        TP HCMTrễ tiến độ 3 năm, đường song hành cao tốc TP HCM - Long Thành (TP Thủ Đức) dài hơn 3 km được thi công cầm chừng, ngổn ngang vật liệu xây dựng, rác thải.
    </p>
    <img src="assets/1.jpg" alt="Hình minh họa 1">
    <p>Đường song hành cao tốc TP HCM - Long Thành (ngoài cùng bên phải) khởi công tháng 4/2017 theo hợp đồng BT (xây dựng - chuyển giao), tổng mức đầu tư 869 tỷ đồng.</p>
    <p>Dự án gồm hai đoạn song hành xây bên phải tuyến cao tốc, rộng 20 m, 4 làn xe. Trong đó, đoạn một dài 2,7 km, nối đại lộ Mai Chí Thọ qua đường Đỗ Xuân Hợp. Đoạn còn lại hơn 600 m, nối tuyến D11 qua Vành đai 2, đều thuộc địa phận TP Thủ Đức. Công trình dự kiến hoàn thành sau hai năm hiện dở dang, đạt khoảng 80% khối lượng.</p>
    <img src="assets/2.jpg" alt="Hình minh họa 2">
    <p>Cùng với tuyến đường, dự án còn xây ba cây cầu gồm Bà Dạt, Mương Kênh, Bà Hiện với tổng chiều dài cầu khoảng 567 m; đồng thời cải tạo nút giao, làm hệ thống thoát nước, chiếu sáng...</p>
    <p>Tại đoạn gần nút giao An Phú, cầu Bà Dạt dài 129,5 m mới xong cơ bản phần khung, chưa có đường kết nối, nằm chỏng chơ trên công trường. Cạnh đó là cầu sắt với tải trọng tối đa 45 tấn.</p>
    <img src="assets/3.jpg" alt="Hình minh họa 3">
</div>