.content{
    padding: 10px 90px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{ 
    max-width: 800px;
}

p{ 
    width: 60%;
    text-align: justify;
}

.tg{
    display: flex;
    justify-content:flex-end;
}

span{
    font-weight: bold;
}