<div class="content">
    <h2>Người thân khuyên Will Smith điều trị tâm lý</h2>
    <p>Gia đình và bạn bè khuyên Will Smith đi điều trị tâm lý sau ồn ào đánh Chris Rock trên sân khấu Oscar 2022.</p>
    <p>Ngày 5/4, nguồn tin thân cận của gia đình Will Smith tiết lộ với Fox News: "Nhiều bạn bè âm thầm nhắn tin động
        viên và hỏi thăm anh ấy. Một số cho rằng hành động bạo lực của Smith biểu hiện cho sự giận dữ có sẵn bên trong.
        Họ khuyên Smith nghỉ diễn xuất một thời gian, đi điều trị tâm lý và giải quyết các vấn đề cá nhân".</p>
    <img src="assets/Will-Smith.jpg" alt="Will Smith">
    <p>Một nguồn tin khác của ET cho biết người thân dành nhiều thời gian bên Will Smith trong giai đoạn khó khăn. "Họ
        cùng cố gắng và đoàn kết để vượt qua thử thách này. Gia đình Smith là một tập thể vững mạnh, khăng khít và ủng
        hộ anh ấy tuyệt đối".
    </p>
    <p>Jada Pinkett ước chồng không đánh người nhưng không trách Smith. Trên trang cá nhân, cô viết: "Đây là thời điểm
        cho sự chữa lành và tôi ở đây vì điều đó". Con gái Willow của hai người cũng lên tiếng ủng hộ cha: "Ý nghĩa của
        cuộc sống sẽ được tìm thấy trong thử thách".
    </p>
    <p>Ồn ào giữa gia đình Will Smith - tài tử nhận giải Nam chính xuất sắc - và Chris Rock trở thành chủ đề được quan
        tâm nhất Oscar 2022. Anh lên sân khấu đánh danh hài vì đùa giỡn kiểu đầu trọc của vợ mình. Sau sự kiện, các cụm
        từ liên quan sự việc lên top thịnh hành mạng xã hội. Will Smith đã xin lỗi đồng nghiệp trên trang cá nhân, rút
        khỏi Viện Hàn lâm. Phía Chris Rock từ chối tố cáo diễn viên tội hành hung.
    </p>

    <p>
        Một nguồn tin khác của ET cho biết người thân dành nhiều thời gian bên Will Smith trong giai đoạn khó khăn. "Họ
        cùng cố gắng và đoàn kết để vượt qua thử thách này. Gia đình Smith là một tập thể vững mạnh, khăng khít và ủng
        hộ anh ấy tuyệt đối".
    </p>
    <p>
        Jada Pinkett ước chồng không đánh người nhưng không trách Smith. Trên trang cá nhân, cô viết: "Đây là thời điểm
        cho sự chữa lành và tôi ở đây vì điều đó". Con gái Willow của hai người cũng lên tiếng ủng hộ cha: "Ý nghĩa của
        cuộc sống sẽ được tìm thấy trong thử thách".
    </p>
    <p>
        Ồn ào giữa gia đình Will Smith - tài tử nhận giải Nam chính xuất sắc - và Chris Rock trở thành chủ đề được quan
        tâm nhất Oscar 2022. Anh lên sân khấu đánh danh hài vì đùa giỡn kiểu đầu trọc của vợ mình. Sau sự kiện, các cụm
        từ liên quan sự việc lên top thịnh hành mạng xã hội. Will Smith đã xin lỗi đồng nghiệp trên trang cá nhân, rút
        khỏi Viện Hàn lâm. Phía Chris Rock từ chối tố cáo diễn viên tội hành hung.
    </p>
    <p class="tg"><span>Phương Mai </span> &nbsp; (theo Fox News, ET)</p>
</div>  