<div class="content">
    <h2>Phát hiện loài rắn khuyết Đài Loan hiếm gặp</h2>
    <p>
        Các nhà khoa học Việt công bố phát hiện loài rắn khuyết Đài Loan tại hai vườn quốc gia ở Hà Tĩnh và Ninh Bình
        trên tạp chí chuyên ngành đầu tháng 4.
    </p>
    <p>
        Đây là kết quả của những chuyến ghi nhận thực tế, khảo sát trong nhiều tháng của các nhà khoa học Việt Nam tại
        Vườn quốc gia Vũ Quang (Hà Tĩnh) và Vườn quốc gia Cúc Phương (Ninh Bình) từ cuối năm 2020 đến nay.
    </p>
    <p>
        Rắn khuyết Đài Loan, tên khoa học Lycodon ruhstrati abdius Vogel al.2009, có thân màu nâu và trắng. Cơ quan
        chuyên môn sau đó đã công bố vùng phân bổ mới của rắn khuyết Đài Loan thuộc hai vườn quốc gia ở Hà Tĩnh và Ninh
        Bình, được đăng trên tạp chí Herpetological Review (Mỹ) hôm 1/4.
    </p>
    <p>
        Theo ông Thái Cảnh Toàn, Phó giám đốc Vườn quốc gia Vũ Quang, đây là loài rắn hiếm gặp, phân bổ ở các cánh rừng
        nguyên sinh độ cao trên 800 m. Hiện, rắn chỉ được ghi nhận ở một số khu vực miền Bắc và miền Trung Việt Nam.
    </p>
    <p>
        "Việc phát hiện loài rắn góp phần bảo tồn đa dạng sinh học của các vườn quốc gia", ông Toàn nói.
    </p>
    <img src="assets/AAVUzwM.jpg" alt="Hình minh họa rắn khuyết Đài Loan">
    <p>

        Các nhà khoa học Việt công bố phát hiện loài rắn khuyết Đài Loan tại hai vườn quốc gia ở Hà Tĩnh và Ninh Bình
        trên tạp chí chuyên ngành đầu tháng 4.

        Đây là kết quả của những chuyến ghi nhận thực tế, khảo sát trong nhiều tháng của các nhà khoa học Việt Nam tại
        Vườn quốc gia Vũ Quang (Hà Tĩnh) và Vườn quốc gia Cúc Phương (Ninh Bình) từ cuối năm 2020 đến nay.

        Rắn khuyết Đài Loan, tên khoa học Lycodon ruhstrati abdius Vogel al.2009, có thân màu nâu và trắng. Cơ quan
        chuyên môn sau đó đã công bố vùng phân bổ mới của rắn khuyết Đài Loan thuộc hai vườn quốc gia ở Hà Tĩnh và Ninh
        Bình, được đăng trên tạp chí Herpetological Review (Mỹ) hôm 1/4.

        Theo ông Thái Cảnh Toàn, Phó giám đốc Vườn quốc gia Vũ Quang, đây là loài rắn hiếm gặp, phân bổ ở các cánh rừng
        nguyên sinh độ cao trên 800 m. Hiện, rắn chỉ được ghi nhận ở một số khu vực miền Bắc và miền Trung Việt Nam.

        "Việc phát hiện loài rắn góp phần bảo tồn đa dạng sinh học của các vườn quốc gia", ông Toàn nói.

        Loài rắn khuyết Đài Loan tại Vườn quốc gia Vũ Quang. Ảnh: Sang Trang© Được VnExpress cung cấp Loài rắn khuyết
        Đài Loan tại Vườn quốc gia Vũ Quang. Ảnh: Sang Trang
        Vườn quốc gia Vũ Quang được thành lập năm 2002, tổng diện tích 57.000 ha, trong đó có 52.000 ha rừng đặc dụng,
        còn lại là rừng phòng hộ và rừng sản xuất. Kết quả điều tra và thống kê đến hết năm 2015, vườn có hệ thực vật đa
        dạng với gần 1.800 loài trong tổng số 737 chi và 202 họ thực vật. Trong đó 131 loài nguy cấp cần được bảo tồn có
        danh lục nằm trong Sách đỏ và Nghị định 32 của Chính phủ. Hồi tháng 11/2020, Trung tâm đa dạng sinh học ASEAN
        công nhận vườn quốc gia Vũ Quang là Vườn di sản ASEAN.
    </p>
    <p>
        Cúc Phương là Vườn quốc gia đầu tiên của Việt Nam, thành lập năm 1962, nằm cách Hà Nội 120 km, trên địa phận ba
        tỉnh Ninh Bình, Hòa Bình, Thanh Hóa. Vườn có diện tích hơn 22.000 ha, chủ yếu được bao phủ bởi rừng mưa nhiệt
        đới. Nơi đây có hơn 2.200 thực vật bậc cao và rêu, 122 loài bò sát, 66 loài cá, gần 2.000 loài côn trùng, 135
        loài thú. Có nhiều loài thú quý hiếm đang sinh sống tại đây như voọc quần đùi trắng, báo gấm, gấu ngựa cùng hơn
        300 loài chim. Nơi đây còn có hệ thống hang động đẹp, có giá trị khảo cổ lớn như động Sơn Cung, Phò Mã Giáng...
    </p>
</div>