/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-size: 62.5%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --primary : rgba(57, 102, 226, 1);
    --green: rgba(45, 230, 76, 1);
    --danger: rgba(214, 55, 55, 1);
    --warning: rgba(243, 220, 10, 1);
    --hoverprimary : rgba(57, 102, 226, 0.75);
    --hovergreen: rgba(45, 230, 76, 0.75);
    --hoverdanger: rgba(214, 55, 55, 0.75);
    --hoverwarning: rgba(243, 220, 10, 0.75);
    --text-color: #212529;
    --discount: #ff0000;
    --background: whitesmoke;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    /* 
        62.5% = 10px
        1rem = 10px;
        1.6rem = 16px;
    */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
}

h1{
    font-size: 1.9rem;
}

h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.7rem;
}

p{
    font-size: 1.6rem;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

.btn--primary{
    background: var(--primary);
    color: var(--white); 
}

.btn--primary:hover{
    background: var(--hoverprimary);
    color: var(--white); 
}

.btn--green{
    background: var(--green);
    color: var(--white); 
}

.btn--green:hover{
    background: var(--hovergreen);
    color: var(--white); 
}

.btn--danger{
    background: var(--danger);
    color: var(--white); 
}

.btn--danger:hover{
    background: var(--hoverdanger);
    color: var(--white); 
}

.btn--warning{
    background: var(--warning);
    color: var(--white); 
}

.btn--warning:hover{
    background: var(--hoverwarning);
    color: var(--white); 
}

[class *= "col__"]{
    width: 100%;
}

@media screen and (min-width: 680px){
    
    .col__4{
        width: 33.33%;
    }
}